@model crmCompany.Controllers.HomeController
<h1>Hizmet Detayı Ekleme</h1>

    <tr>
        <td>Hizmet Erişim Adresi :</td>
        <td><input name="txtName" type="text" /></td>
    </tr>
<input type="submit"  value="Ekle" />
    
